<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SimpleWorkflowFoundationSettings" type="Amazon.SimpleWorkflow.DotNetFramework.Configuration.SimpleWorkflowFoundationSettings, Amazon.SimpleWorkflow.DotNetFramework" />
  </configSections>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJ6ZMTPVDWR6B5NYQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSRegion" value="us-east-1" />
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to registered an accounts using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.-->
    <add key="AWSProfileName" value="" />
  </appSettings>
  <SimpleWorkflowFoundationSettings domain="dev-workflows" s3BucketName="membersuite-swf-largeobjects">
    <workflows>
      <workflow type="Amazon.SimpleWorkflow.DotNetFramework.Tests.Deciders.TestDecider, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="TestDecider" version="15" defaultChildPolicy="ABANDON" defaultExecutionStartToCloseTimeout="232" defaultTaskList="SomeTaskList" defaultTaskStartToCloseTimeout="22" description="SomeDescription" />
      <workflow type="Amazon.SimpleWorkflow.DotNetFramework.Tests.Deciders.ThreeStepWorkflowDecider, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="ThreeStepWorkflow" version="2" description="Test workflow with three steps to ensure basic activity scheduling works." defaultChildPolicy="TERMINATE" defaultExecutionStartToCloseTimeout="60" defaultTaskStartToCloseTimeout="60" />
      <workflow type="Amazon.SimpleWorkflow.DotNetFramework.Tests.TestWorkflows.TestStateMachineWorkflow.TestStateMachineWorkflow, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="TestStateMachineWorkflow" version="2" description="Test workflow with to make sure state machine works" defaultChildPolicy="TERMINATE" defaultExecutionStartToCloseTimeout="60" defaultTaskStartToCloseTimeout="60" />
      <workflow type="Amazon.SimpleWorkflow.DotNetFramework.Tests.TestWorkflows.LargeInput.LargeInputWorkflow, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="LargeInputWorkflow" version="2" description="Test workflow with to make sure processing large inputs to S3 works" defaultChildPolicy="TERMINATE" defaultExecutionStartToCloseTimeout="60" defaultTaskStartToCloseTimeout="60" />
      <workflow type="Amazon.SimpleWorkflow.DotNetFramework.Tests.TestWorkflows.Timer.TimerWorkflow, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="TimerWorkflow" version="2" description="Test recurring workflows" defaultChildPolicy="TERMINATE" defaultExecutionStartToCloseTimeout="60" defaultTaskStartToCloseTimeout="60" />
    </workflows>
    <activities>
      <activity type="Amazon.SimpleWorkflow.DotNetFramework.Tests.Activities.TestActivity, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="TestActivity" version="5" defaultTaskList="SomeTaskList2" description="ADescription" heartbeatTimeout="4324" taskScheduleToCloseTimeout="122" taskScheduleToStartTimeout="954" taskStartToCloseTimeout="323" />
      <activity type="Amazon.SimpleWorkflow.DotNetFramework.Tests.Activities.ThreeStepWorkflowActivity, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="ThreeStepWorkflow" version="2" description="Test activity with three steps to ensure basic activity scheduling works." heartbeatTimeout="60" taskScheduleToCloseTimeout="60" taskScheduleToStartTimeout="60" taskStartToCloseTimeout="60" />
      <activity type="Amazon.SimpleWorkflow.DotNetFramework.Tests.TestWorkflows.TestStateMachineWorkflow.FirstActivity, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="FirstActivity" version="1" heartbeatTimeout="60" taskScheduleToCloseTimeout="60" taskScheduleToStartTimeout="60" taskStartToCloseTimeout="60" />
      <activity type="Amazon.SimpleWorkflow.DotNetFramework.Tests.TestWorkflows.TestStateMachineWorkflow.SecondActivity, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="SecondActivity" version="1" heartbeatTimeout="60" taskScheduleToCloseTimeout="60" taskScheduleToStartTimeout="60" taskStartToCloseTimeout="60" />
      <activity type="Amazon.SimpleWorkflow.DotNetFramework.Tests.TestWorkflows.TestStateMachineWorkflow.ThirdActivity, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="ThirdActivity" version="1" heartbeatTimeout="60" taskScheduleToCloseTimeout="60" taskScheduleToStartTimeout="60" taskStartToCloseTimeout="60" />
      <activity type="Amazon.SimpleWorkflow.DotNetFramework.Tests.TestWorkflows.TestStateMachineWorkflow.FailedActivity, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="FailedActivity" version="1" heartbeatTimeout="60" taskScheduleToCloseTimeout="60" taskScheduleToStartTimeout="60" taskStartToCloseTimeout="60" />
      <activity type="Amazon.SimpleWorkflow.DotNetFramework.Tests.TestWorkflows.LargeInput.SaveLargeInputActivity, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="SaveLargeInputActivity" version="1" heartbeatTimeout="60" taskScheduleToCloseTimeout="60" taskScheduleToStartTimeout="60" taskStartToCloseTimeout="60" />
      <activity type="Amazon.SimpleWorkflow.DotNetFramework.Tests.TestWorkflows.Timer.TimerWorkflowActivity, Amazon.SimpleWorkflow.DotNetFramework.Tests" name="TimerWorkflowActivity" version="1" heartbeatTimeout="60" taskScheduleToCloseTimeout="60" taskScheduleToStartTimeout="60" taskStartToCloseTimeout="60" />
    </activities>
  </SimpleWorkflowFoundationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>