<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SimpleWorkflowFoundationSettings" type="Amazon.SimpleWorkflow.DotNetFramework.Configuration.SimpleWorkflowFoundationSettings, Amazon.SimpleWorkflow.DotNetFramework"/>
  </configSections>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAIQ7LY7PU3TMXFNDQ"/>
    <add key="AWSSecretKey" value="3I6JLVDXxNm47t8tvJW2SlSCz4YoETfcgphfK3yn"/>
  </appSettings>
  <SimpleWorkflowFoundationSettings domain="sample-domain" s3BucketName="BucketToUseForLargeInputs" maxActivityThreads="10" maxDeciderThreads="10">
    <workflows>
      <workflow name="SampleRecurringWorkflow" type="Amazon.SimpleWorkflow.DotNetFramework.Samples.Workflows.Recurring.SampleRecurringWorkflow, Amazon.SimpleWorkflow.DotNetFramework.Samples" defaultChildPolicy="TERMINATE" defaultExecutionStartToCloseTimeout="10" defaultTaskList="AllTasks" defaultTaskStartToCloseTimeout="10" version="1"/>
      <workflow name="SampleStateMachineWorkflow" type="Amazon.SimpleWorkflow.DotNetFramework.Samples.Workflows.StateMachine.SampleStateMachineWorkflow, Amazon.SimpleWorkflow.DotNetFramework.Samples" defaultChildPolicy="TERMINATE" defaultExecutionStartToCloseTimeout="1000" defaultTaskList="AllTasks" defaultTaskStartToCloseTimeout="1000" version="2"/>
    </workflows>
    <activities>
      <activity name="SampleRecurringWorkflowTask" defaultTaskList="AllTasks" version="1" type="Amazon.SimpleWorkflow.DotNetFramework.Samples.Workflows.Recurring.SampleRecurringWorkflowTask, Amazon.SimpleWorkflow.DotNetFramework.Samples" heartbeatTimeout="25"/>

      <activity name="IntroductionActivity" defaultTaskList="AllTasks" version="2" type="Amazon.SimpleWorkflow.DotNetFramework.Samples.Workflows.StateMachine.IntroductionActivity, Amazon.SimpleWorkflow.DotNetFramework.Samples" taskScheduleToCloseTimeout="1000" taskScheduleToStartTimeout="1000" taskStartToCloseTimeout="1000" heartbeatTimeout="25"/>

      <activity name="CheckShippingActivity" defaultTaskList="AllTasks" version="2" type="Amazon.SimpleWorkflow.DotNetFramework.Samples.Workflows.StateMachine.CheckShippingActivity, Amazon.SimpleWorkflow.DotNetFramework.Samples" taskScheduleToCloseTimeout="1000" taskScheduleToStartTimeout="1000" taskStartToCloseTimeout="1000" heartbeatTimeout="25"/>

      <activity name="CompleteOrderActivity" defaultTaskList="AllTasks" version="2" type="Amazon.SimpleWorkflow.DotNetFramework.Samples.Workflows.StateMachine.CompleteOrderActivity, Amazon.SimpleWorkflow.DotNetFramework.Samples" taskScheduleToCloseTimeout="1000" taskScheduleToStartTimeout="1000" taskStartToCloseTimeout="1000" heartbeatTimeout="25"/>

      <activity name="GetShippingInfoActivity" defaultTaskList="AllTasks" version="2" type="Amazon.SimpleWorkflow.DotNetFramework.Samples.Workflows.StateMachine.GetShippingInfoActivity, Amazon.SimpleWorkflow.DotNetFramework.Samples" taskScheduleToCloseTimeout="1000" taskScheduleToStartTimeout="1000" taskStartToCloseTimeout="1000" heartbeatTimeout="25"/>

      <activity name="ProcessPaymentActivity" defaultTaskList="AllTasks" version="2" type="Amazon.SimpleWorkflow.DotNetFramework.Samples.Workflows.StateMachine.ProcessPaymentActivity, Amazon.SimpleWorkflow.DotNetFramework.Samples" taskScheduleToCloseTimeout="1000" taskScheduleToStartTimeout="1000" taskStartToCloseTimeout="1000" heartbeatTimeout="25"/>
    </activities>
  </SimpleWorkflowFoundationSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="AWSSDK" publicKeyToken="9F476D3089B52BE3" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.2.2" newVersion="2.0.2.2"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
